@font-face {
  font-family: "AdelleCyrillic";
  src: url('../fonts/AdelleCyrillic/AdelleCyrillic-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "AdelleCyrillic";
  src: url('../fonts/AdelleCyrillic/AdelleCyrillic.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "AdelleCyrillic";
  src: url('../fonts/AdelleCyrillic/AdelleCyrillic-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
  font-weight: 700;
}
body {
  background: url(../img/bg/bg-lines.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
span,
a,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
}
.w-750 {
  max-width: 750px;
}
.ml-12 {
  margin-left: 12px;
}
.header {
  padding: 22px 0;
}
.header::after {
  content: "";
  display: block;
  background-color: #3bc99c;
  height: 1px;
  width: 22%;
  margin: 0 auto;
  margin-top: 13px;
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__logo:hover {
  text-decoration: none;
}
.header__logo span {
  font-family: 'AdelleCyrillic', serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  line-height: 24px;
}
.header__logo .big {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.header__logo img {
  margin-right: 10px;
}
.header__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-left: 4px;
}
.header__call {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #30ba8f;
  border: 1px solid #30ba8f;
  -webkit-border-radius: 19px;
          border-radius: 19px;
  padding: 12px 19px;
}
.header__call:hover {
  text-decoration: none;
}
.header__title h1 {
  font-family: 'AdelleCyrillic', serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-top: 43px;
}
.production {
  padding-top: 20px;
  padding-bottom: 150px;
}
.product-item {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.product-item span {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 29px;
          border-radius: 29px;
  padding: 15px 19px;
}
.product-item img {
  height: auto;
  width: 100%;
}
.product-item__text {
  position: absolute;
  top: 17px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer {
  padding-bottom: 20px;
}
.footer span,
.footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.footer__bottom {
  padding-top: 25px;
}
.footer__adress,
.footer__email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__contacts a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__contacts a span {
  margin-left: 12px;
  line-height: 30px;
}
.footer__copyright span {
  font-size: 12px;
}
.footer__copyright span .big {
  font-size: 16px;
}
.footer__author {
  text-align: right;
}
.footer__author span {
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .footer__adress {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 575px) {
  body {
    background: none;
  }
  .header__logo,
  .header__phone,
  .header__call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .header__title h1 {
    font-size: 20px;
  }
  .production {
    padding-bottom: 50px;
  }
  .footer__logo,
  .footer__adress,
  .footer__contacts,
  .footer__email {
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .footer__contacts {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom,
  .footer__author {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .product-item__text span {
    font-size: 15px;
  }
}
